.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 15px;
    border-radius: 0px;
    font-size: 20px;
    font-weight:bold;
    background-color: black;
    color: #ffff;
}

.animals-list{
    margin-top: 50px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}